@import "tailwindcss";

@theme {
    --color-primary: #3b82f6;
    /* Blue 500 */
    --color-primary-dark: #2563eb;
    /* Blue 600 */
    --color-dark: #0f172a;
    /* Slate 900 */
    --color-light: #f8fafc;
    /* Slate 50 */
    --font-inter: "Inter", sans-serif;
}

/* Custom base styles */
@layer base {
    body {
        @apply font-inter text-slate-800 bg-light;
    }
}

/* Custom components classes */
@layer components {
    .btn-primary {
        @apply bg-primary hover:bg-primary-dark text-white font-medium py-2 px-6 rounded-lg transition-colors duration-200 mt-2 cursor-pointer;
    }

    .btn-secondary {
        @apply bg-white hover:bg-slate-50 text-slate-800 border border-slate-200 font-medium py-2 px-6 rounded-lg transition-colors duration-200 mt-2 cursor-pointer;
    }
}